<html>
  <head>
    <title>To-Do App</title>
  </head>
    <body>
        <h1>My To-Do App</h1>
        <form method="POST" action="/lists/{{ list.id }}/add_item">
            {% csrf_token %}
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
            <select name="priority" id="id_priority">
            <option value="high">High</option>
            <option value="medium" selected>Medium</option>
            <option value="low">Low</option>
        </select>
        <input type="submit" value="Add Item"> </form>
        </form>
        <table id="id_list_table">
          {% for item in list.item_set.all %}  
            <tr><td>{{ forloop.counter }}: {{ item.text }} ({{ item.get_priority_display }})</td></tr>
          {% endfor %}
        </table>
        <a href="/about/">Go to About Page</a>
    </body>
</html>